---
# K&R (Kernighan & Ritchie) style with tabs
BasedOnStyle: LLVM

# Use tabs instead of spaces
UseTab: Always
TabWidth: 4
IndentWidth: 4

# K&R brace style - opening braces on same line
BreakBeforeBraces: Attach

# Function definitions - opening brace on same line
BraceWrapping:
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Other K&R style preferences
ColumnLimit: 80
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
